/* tree */
.x-tree-root-ct{zoom:1;}

.x-tree-node{color:black;font:normal 12px arial,tahoma,helvetica,sans-serif;white-space:nowrap;}

.x-tree-node-el{line-height:18px;cursor:pointer;}

.x-tree-icon,.x-tree-ec-icon,.x-tree-elbow-line,.x-tree-elbow,.x-tree-elbow-end,.x-tree-elbow-plus,.x-tree-elbow-minus,.x-tree-elbow-end-plus,.x-tree-elbow-end-minus{border:0 none;height:18px;margin:0;padding:0;vertical-align:top;width:16px;background-repeat:no-repeat;}

.x-tree-no-lines .x-tree-elbow-end{background:transparent;}
.x-tree-no-lines .x-tree-elbow-end-plus{background-image:url(../images/tree/elbow-end-plus-nl.gif);}
.x-tree-no-lines .x-tree-elbow-end-minus{background-image:url(../images/tree/elbow-end-minus-nl.gif);}

.x-tree-node a span,.x-dd-drag-ghost a span{text-decoration:none;color:black;padding:1px 3px 1px 2px;}
.x-tree-node a,.x-dd-drag-ghost a{text-decoration:none;color:black;-khtml-user-select:none;-moz-user-select:none;-kthml-user-focus:normal;-moz-user-focus:normal;-moz-outline:0 none;outline:0 none;}

ul.x-tree-node-ct{font-size:0;line-height:0;zoom:1;}

.x-tree-node-collapsed .x-tree-node-icon,.x-tree-node-expanded .x-tree-node-icon,.x-tree-node-leaf .x-tree-node-icon{border:0 none;height:18px;margin:0;padding:0;vertical-align:top;width:16px;background-position:center;background-repeat:no-repeat;}
.x-tree-node-leaf .x-tree-node-icon{background-image:url(../images/tree/leaf.gif);}

.x-tree-node .x-tree-selected{background-color:#d9e8fb;}

.x-tree-node .x-tree-node-over{background-color:#eee;}

x-tree-elbow-end-plus

/* 兼容IE */
 .x-tree-node-indent img, .x-tree-node-icon,.x-tree-ec-icon{vertical-align:middle!important;}

/* 控制面板 */
.x-panel{border-style:solid;border-color:#99bbe8;border-width:0;}

.x-panel-header{overflow:hidden;zoom:1;color:#15428b;font:bold 12px Arial, Helvetica,sans-serif;padding:5px 3px 4px 5px;border:1px solid #99bbe8;line-height:15px;background:transparent url(../images/panel/white-top-bottom.gif) repeat-x 0 -1px;}

.x-panel-header{overflow:hidden;zoom:1;}

.x-panel-bwrap{overflow:hidden;zoom:1;left:0;top:0;}

.x-panel-tbar .x-toolbar{border:1px solid #99bbe8;border-top:0 none;overflow:hidden;padding:2px;}

.x-tree .x-panel-body{background-color:#fff;}

.x-panel-body{border:1px solid #99bbe8;border-top:0 none;overflow:hidden;background:white;position:relative;}

.x-panel-body{overflow:hidden;zoom:1;}

.x-border-panel{position:absolute;left:0;top:0;}

/* 工具 */
.x-tool{overflow:hidden;width:15px;height:15px;float:right;cursor:pointer;background:transparent url(../images/panel/tool-sprites.gif) no-repeat;margin-left:2px;}

.x-tool-toggle{background-position:0 -60px;}

.x-tool-collapse-west{background-position:0 -180px;}

.x-tool-collapse-east{background-position:0 -165px;}

.x-toolbar{border-color:#a9bfd3;border-style:solid;border-width:0 0 1px 0;display:block;padding:2px;background:#d0def0 url(../images/toolbar/bg.gif) repeat-x top left;position:relative;zoom:1;}

.x-tool-expand-west{background-position:0 -165px;}
.x-tool-expand-east,.x-tool-expand-west{float:none;margin:3px auto;}
.x-tool-expand-west-over{background-position:-15px -165px;}

/* 按钮 */
.x-btn{font:normal 12px Arial, Helvetica, sans-serif;cursor:pointer;white-space:nowrap;}

.x-btn-text-icon .x-btn-center .x-btn-text{background-position:0 2px;background-repeat:no-repeat;padding-left:18px;padding-top:2px;padding-bottom:2px;padding-right:0;}

.x-btn-left,.x-btn-right{font-size:1px;line-height:1px;}

.x-btn-left{width:3px;height:21px;background:url(../images/button/btn-sprite.gif) no-repeat 0 0;}

.x-btn-right{width:3px;height:21px;background:url(../images/button/btn-sprite.gif) no-repeat 0 -21px;}

.x-btn-left i,.x-btn-right i{display:block;width:3px;overflow:hidden;font-size:1px;line-height:1px;}

.x-toolbar .x-btn-left{background:none;}
.x-toolbar .x-btn-right{background:none;}
.x-toolbar .x-btn-center{background:none;padding:0;}

.x-btn-center{background:url(../images/button/btn-sprite.gif) repeat-x 0 -42px;vertical-align:middle;text-align:center;padding:0 5px;cursor:pointer;white-space:nowrap;}

.x-btn button{border:0 none;background:transparent;font:normal 12px Arial, Helvetica, sans-serif;padding-left:3px;padding-right:3px;cursor:pointer;margin:0;overflow:visible;width:auto;-moz-outline:0 none;outline:0 none;}


/* layout */
.x-layout-collapsed{position:absolute;background-color:#d2e0f2;width:20px;height:20px;overflow:hidden;border:1px solid #98c0f4;}
.x-layout-collapsed-west .x-layout-collapsed-tools,.x-layout-collapsed-east .x-layout-collapsed-tools{position:absolute;top:0;left:0;width:20px;height:20px;}
.x-border-layout-ct{background:#dfe8f6;}


