.left{width:211px;float:left;}
.left h2{height:25px;padding:2px 10px 0 10px;background:url(../images/spring_06.jpg) #CE2020 no-repeat 0 0;line-height:25px;color:#fff;}
.left h2 em{float:right;font-weight:normal;font-size:12px;}
.right{width:763px;overflow:hidden;float:right;}
.Special h2{height:29px;padding-right:8px;background:url(../images/pro_title_bg.jpg) no-repeat right 2px;}
.Special h2 img{height:29px;float:left;margin-right:10px;}
.Special h2 em{float:right;font-size:12px;font-weight:normal;margin-top:6px;}
.Special h2 ul{height:29px;overflow:hidden;}
.Special h2 li{float:left;padding:2px 0 0 15px;background:url(../images/icon_arrow_1.jpg) no-repeat 10px center;margin-right:15px;}
.Special h2 span{font-size:12px;line-height:30px;}
.Special h2 span a:link,.Special h2 span a:visited{font-weight:normal;padding:0 3px;}
.Special h2 span a.link_CC0000:link,.Special h2 span a.link_CC0000:visited{color:#CC0000;font-weight:bold;}
#Report h2,.Rank_Sale h2{width:195px;height:25px;line-height:25px;padding:2px 8px 0;color:#333;}
#ScareBuying h2{height:27px;padding-right:8px;background:url(../images/pro_title_bg.jpg) no-repeat right top;}
#ScareBuying h2 img{height:27px;float:left;margin-right:10px;}
#ScareBuying h2 em{float:right;font-size:12px;font-weight:normal;margin-top:6px;}
/*---------------------------------left---------------------------------------*/
/*HotBrand*/
#HotBrand{width:189px;background:#fff;padding:8px 10px;border:solid #CE2020;border-width:0 1px 1px;line-height:22px;margin-bottom:6px;}
#HotBrand dl,#HotBrand dd{overflow:hidden;zoom:1;}
#HotBrand dt{font-weight:bold;float:left;}
#HotBrand a{white-space:nowrap;margin-right:8px;float:left;}
#HotBrand a:link,#HotBrand a:visited{color:#005aa0;}
/*SortList*/
#SortList{padding:8px 0;background:#FFFFF5;border:solid #CE2020;border-width:0 1px 1px;margin-bottom:6px;}
#SortList h3{height:20px;line-height:20px;padding:2px 8px 0 8px;margin-bottom:3px;color:#025FA8;}
#SortList h3 a:link,#SortList h3 a:visited{color:#D6290B;}
#SortList h3.open{margin-bottom:0;}
#SortList h3 strong{display:none;width:12px;height:12px;float:right;background:url(../images/open_close.gif) no-repeat 0 0px;margin-top:3px;overflow:hidden;}
#SortList h3.open strong{background:url(../images/open_close.gif) no-repeat 0 -12px;}
#SortList ul{width:201px;padding:4px 0px 4px 8px;overflow:hidden;display:none;}
#SortList ul a:link,#SortList ul a:visited{color:#333;}
#SortList ul li{width:96px;height:20px;line-height:20px;padding:0 2px;float:left;margin-top:4px;}
#SortList ul.open{display:block;}
/*Recentness_View*/
#Recentness_View{width:211px;background:#fff;margin-bottom:6px;}
#Recentness_View ul{padding:8px;border:solid #CE2020;border-width:0 1px 1px;}
	/*NewReviewPro*/
#tjsp,#newReviewPro{overflow:hidden;margin-bottom:6px;}
#tjsp .Rank_Sale_List,#newReviewPro .Rank_Sale_List{border:solid #E7CA96;border-width:0 1px 1px;}
#tjsp li,#newReviewPro li{padding:10px 0 4px;}
#tjsp li.other,#newReviewPro li.other{border-top:1px solid #efefef;}
#tjsp li.more,#newReviewPro li.more{text-align:right;height:15px;padding-bottom:0;}
	/*Rank_Sale*/
.Rank_Sale{width:211px;overflow:hidden;}
.Rank_Sale h2{background:url(../images/spring_08.gif) #E7CA96 no-repeat 0 0px;color:#D6290B;}
		/*Rank_Sale_Option*/
.Rank_Sale_Option{border:solid #E7CA96;border-width:0 1px;}
.Rank_Sale_Option ul{width:199px;height:16px;padding:9px 0 3px 4px;overflow:hidden;margin:0 auto;border-bottom:1px solid #D6290B;}
*html .Rank_Sale_Option{overflow:hidden;}
.Rank_Sale_Option li{width:62px;height:16px;line-height:16px;padding-top:3px;text-align:center;background:url(../images/right_bg_tab.gif) no-repeat 0 0;float:left;margin-right:4px;cursor:pointer;position:relative;}
.Rank_Sale_Option .curr{padding-bottom:6px;background:url(../images/spring_35.gif) no-repeat 0 0;color:#fff;font-weight:bold;font-weight:bold;}
		/*Rank_Sale_List*/
.Rank_Sale_List{width:197px;padding:7px 6px;border:solid #E7CA96;border-width:0 1px 1px;}
.Rank_Sale_List ul{display:none;overflow:hidden;}
.Rank_Sale_List ul li{width:197px;height:33px;text-align:left;overflow:hidden;border-top:1px solid #efefef;float:left;}
.Rank_Sale_List ul li.first{height:46px;padding:8px 0 7px;border-top:1px solid #fff;}
.Rank_Sale_List ul li span{display:block;width:14px;height:33px;line-height:33px;text-align:center;font-size:12px;font-family:Verdana,Arial;color:#D6290B;float:left;font-weight:bold;margin-right:5px;}
.Rank_Sale_List ul li.first span{height:46px;line-height:46px;}
.Rank_Sale_List ul li div{padding:4px 4px 4px 0;width:50px;height:38px;float:left;}
.Rank_Sale_List ul li div img{width:50px;height:38px;}
.Rank_Sale_List ul li strong{font-weight:normal;display:block;height:33px;line-height:36px;overflow:hidden;word-wrap:break-word;word-break:break-all;}
.Rank_Sale_List ul li.first strong{height:28px;line-height:14px;}
.Rank_Sale_List ul li em{color:#E42E2F;line-height:18px;font-weight:bold;}
.Rank_Sale_List .default{display:block;}
	/*Store_Link*/
#Store_Link{width:211px;overflow:hidden;margin-bottom:6px;}
#Store_Link ul{width:201px;padding:4px 4px 0;border:solid #E7CA96;border-width:0 1px 1px;overflow:hidden;}
*html #Store_Link ul{padding-bottom:0;}
#Store_Link li{padding:8px 0px;border-bottom:1px solid #efefef;overflow:hidden;text-align:center;color:#676767;}
#Store_Link li img{width:88px;height:31px;margin:0 auto 4px;}
#Store_Link li.more{width:191px;float:none;border:0;height:24px;overflow:hidden;margin:0;padding:5px 0 0;clear:both;text-align:right;}
#Store_Link li.more img{width:8px;height:8px;}
/*---------------------------------right---------------------------------------*/
.right_box_l{width:546px;float:left;margin-bottom:5px;}
.right_box_r{width:211px;float:right;margin-bottom:5px;}
	/*Focus_Img*/
#Focus_Img{width:546px;height:240px;margin-bottom:10px;position:relative;overflow:hidden;}
#Curr_image{width:546px;height:240px;overflow:hidden;text-align:center;margin:0 auto;}
#Curr_image img{width:546px;vertical-align:middle;margin:0 auto;}
#Curr_image .loading{width:16px;height:16px;padding:36px 42px;}
#Curr_image .photo{height:240px;cursor:pointer;}
#button_image{height:17px;position:absolute;right:0px;bottom:0px;z-index:11;}
#button_image li{width:15px;height:15px;border:1px solid #3B81CD;background:#fff;float:left;text-align:center;line-height:12px;font:11px arial;color:#3B81CD;cursor:default;margin-left:2px;}
#button_image .curr{background:#3B81CD;color:#fff;}
#button_image .curr a:link,#button_image .curr a:visited{color:#fff;}
/*ScareBuying*/
#ScareBuying{width:546px;float:left;margin-bottom:6px;}
#ScareBuying .Product_List_S3 li{border-bottom:0;}
#ScareBuying .Product_List_S3 dl{background:none;}
#ScareBuying .Product_List_S3 dt{height:100px;}
#ScareBuying .Product_List_S3 dt img{width:130px;height:98px;}
#ScareBuying .Product_List_S3 li .p_Name{height:36px;}
#ScareBuying .Product_List_S3 li .p_Price em{font-weight:normal;}
#ScareBuying .Product_List_S3 li .p_Price em span{font-size:18px;font-weight:bold;font-family:arial;}
	/*Report*/
#Report{/*border:1px solid #96C6F7;*/overflow:hidden;margin-bottom:6px;}
#Report h2{background:url(../images/spring_08.gif) #E7CA96 no-repeat 0 0px;color:#D6290B;}
#Report ul{width:193px;padding:8px;border:solid #E7CA96;border-width:0 1px 1px;}
#Report li{height:20px;line-height:20px;overflow:hidden;}
	/*Special*/
.Special{width:763px;margin-bottom:10px;overflow:hidden;}
		/*Special_Product*/
.Special_Product{}
.Special_Product .Special_Img{width:180px;padding:8px 0 2px 5px;float:left;}
.Special_Product .Special_Img img{width:180px;height:348px;/*border:1px solid #E5E5E5;*/}
.Special_Product .Product_List_S3{width:570px;float:right;}
.Special_Product ul{height:360px;/*IE8*/}
.Special_Product li{border:0;width:190px;}
.Special_Product li dl{background:none;}
.Special_Product .Product_List_S3 dt{height:100px;margin-bottom:5px;text-align:center;}
.Special_Product .Product_List_S3 dt img{width:130px;height:98px;}
.Special_Product .Product_List_S3 li .p_Name{height:36px;padding:0 8px;}
.Special_Product .Product_List_S3 li .p_Price em{font-weight:normal;}
.Special_Product .Product_List_S3 li .p_Price em span{font-size:18px;font-weight:bold;font-family:arial;}
/*ADS*/
.AD_L{width:211px;overflow:hidden;}
.AD_L img{width:211px;}
.AD_R{width:211px;overflow:hidden;}
.AD_R img{width:211px;}
.AD_R_1{width:763px;overflow:hidden;}
.AD_R_1 img{width:763px;}